<!DOCTYPE html>
<html ng-app="getCity">
<head>
	<title></title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script type="text/javascript" src="controller.js"></script>

<style type="text/css">
	.therm{
		max-width: 1%;
	}
	.userInput{
		position: fixed;
		top: 3%;
		left: 0%;
	}
	.theSkyes{
		text-transform: uppercase;
	}

</style>


</head>
<body ng-controller="cityController">

<div id="container" class="col-sm-12 text-center">
	<h1>Get your local weather</h1>


	<div class="forecast">
		<h3>Todays forcast :</h3>
		{{skyes}}
		<img src= {{weatherIcon}} >
	</div>

	<div class="theSkies">
		<h3>How are the skies? </h3>
		{{weather}}
	</div>
	<div class="temperature">
		<h3>The temperature is:</h3> 
		{{temp}}
		<img class='therm' src="../public/images/therm.png">
	</div>
	<div class="humidity">
		<h3>Humidity:</h3> 
		{{humidity}}%
	</div>
	<div class="city">
		<h3>City of:</h3> 
		<span class="citySpan">{{city}}</span>
	</div>

	<div class="userInput col-sm-6">
		<h5 >Check the weather in your city</h5>
			<form id="myForm" class="userForm" ng-submit='enterCity()'>
				<input id="inputForm" type="text" name="userInput" placeholder="Name of your city" value="" ng-model='userInput'>
			</form>
	</div>
</div>

</body>
</html>